---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header></header>
    <div class="banner"></div>
    <div class="cards container">
		<div class="card">
			1
		  </div>
      <div class="card">
		2
	  </div>
	  <div class="card">
		3
	  </div>
	  <div class="card">
		4
	  </div>
	  <div class="card">
		5
	  </div>
	  <div class="card">
		6
	  </div>
    </div>
    <!--<slot />-->
  </body>
</html>
<style>
  html,
  body {
    padding: 0;
    margin: 0;
    background-color: rgb(235, 235, 235);
  }
  header {
    height: 80px;
    background: rgb(255, 230, 0);
  }
  .banner {
    height: 280px;
    background: linear-gradient(
      to bottom,
      rgb(255, 230, 0) 60%,
      rgb(235, 235, 235) 100%
    );
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .cards {
	gap: 10px;
	display: flex;
	column-count: 6;
	/*column-gap: 1px;*/
    margin-top: -80px;
    height: 240px;
	
  }

  .card {
	flex-grow: 1;
	background-color: #fff;
	border-radius: 6px;  
	}
</style>
