---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header></header>

    <div class="to-60% from-[#ffe600] to-[#ebebeb] h-72 bg-gradient-to-b"></div>
    <div
      class="container max-w-[1200px] m-auto flex columns-6 -mt-20 h-60 bg-white gap-[10px]"
    >
      <div class="grow bg-[#fff] rounded-md gap-[10px]">1</div>
      <div class="grow bg-[#fff] rounded-md">2</div>
      <div class="grow bg-[#fff] rounded-md">3</div>
      <div class="grow bg-[#fff] rounded-md">4</div>
      <div class="grow bg-[#fff] rounded-md">5</div>
      <div class="grow bg-[#fff] rounded-md">6</div>
    </div>
    <div
      class="group transition-colors duration-150 hover:bg-blue-700 hover:cursor-pointer rounded inline-flex items-center px-4 py-2 text-white bg-blue-500"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4 mr-1 mt-1 group-hover:animate-spin"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
        ></path>
      </svg>
      Presioname!

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4 mt-[4px]"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
      </svg>
    </div>
    <!--<slot />-->
  </body>
</html>
<style>
  html,
  body {
    padding: 0;
    margin: 0;
    background-color: rgb(235, 235, 235);
  }
  header {
    height: 80px;
    background: #ffe600;
  }
  /*.banner {
    height: 280px;
    background: linear-gradient(
      to bottom,
      rgb(255, 230, 0) 60%,
      #ebebeb 100%
    );
  }*/

  /*.container {
    max-width: 1200px;
    margin: 0 auto;
  }*/

  /*.cards {
    gap: 10px;
    display: flex;
    column-count: 6;
    /*column-gap: 1px;*/
  /*margin-top: -80px;
    height: 240px;
  }*/

  /*.card {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 6px;
  }*/
</style>
